In [6]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer
 
s1="sunshine state enjoy sunshine"
s2="brown fox jump high, brown fox run"
s3="sunshine state fox run fast"

In [4]:
corpus = [s1, s2, s3]
corpus

['sunshine state enjoy sunshine',
 'brown fox jump high, brown fox run',
 'sunshine state fox run fast']

In [28]:
boW = CountVectorizer(stop_words = 'english')
vectors = boW.fit_transform(corpus)
features = boW.get_feature_names_out()

boW_df = pd.DataFrame(data = vectors.toarray(), columns=features)
boW_df

   brown  enjoy  fast  fox  high  jump  run  state  sunshine
0      0      1     0    0     0     0    0      1         2
1      2      0     0    2     1     1    1      0         0
2      0      0     1    1     0     0    1      1         1

In [27]:
tfidf = TfidfVectorizer(stop_words = 'english',analyzer= 'word',smooth_idf=True)
matrix = tfidf.fit_transform(corpus)
features = tfidf.get_feature_names_out()

countvect = pd.DataFrame(data = matrix.toarray(),columns = features)
countvect

,brown,enjoy,fast,fox,high,jump,run,state,sunshine
S1,0.000000,0.50689,0.000000,0.000000,0.000000,0.000000,0.000000,0.385503,0.771006
S2,0.670703,0.00000,0.000000,0.510087,0.335352,0.335352,0.255044,0.000000,0.000000
S3,0.000000,0.00000,0.549351,0.417796,0.000000,0.000000,0.417796,0.417796,0.417796

# Cosine Similarity

In [33]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [34]:
S1=np.array([[0,1,0,0,0,0,0,1,2]])
S3=np.array([[0,0,1,1,0,0,1,1,1]])

In [35]:
print(cosine_similarity(S1, S3))

[[0.54772256]]